body {
    font-size: 1.5rem;
    color: lightgreen;
    background-color: black;
    margin: 15px 15px 45px 15px;
    letter-spacing: 3px;
    font-family: "Indie Flower", sans-serif;
    text-align: center;
}
h1, p {
    font-family: "Indie Flower", sans-serif;
    text-align: center;
}
#myBtn, #myBtn1, #myBtn2 {
    height: 60px;
    width: auto;
    border-color: tomato;
    background-color: lightgreen;
    color: black;
    font-family: "Indie Flower", sans-serif;
    font-size: 2rem;

}
#demo, #demo1, #demo2 {
    width: 100%;
    height: 60px:
    color: lightgreen;

}
#myBtn3, #myBtn4, #myBtn5 {
    height: 30px;
    width: auto;
    border-color: tomato;
    background-color: lightgreen;
    color: black;
    font-family: "Indie Flower", sans-serif;
    font-size: 1rem;
    margin: 5px;
}
footer {
        text-align: center;
}